 #canvas
{
position:absolute;
top:0px;
left:0px;
width:100vw;
height:100%;
background-color:#aaa;
cursor:pointer;
}

html
{
font-size:12px;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
font-family:arial;
}

/* should disable chrome refreshing the page when sliding finger towards the bottom of the screen*/
body {
  overscroll-behavior: none;
}

#zoom{position:absolute; right:10px;top:10px;box-shadow:0px 0px 10px 2px rgba(0,0,0,0.5);}

#zoom div
{
background-color:white;
line-height:50px;
width:50px;
text-align:center;
font-weight:900;
cursor:pointer;
}

#menu
{
position:absolute; left:10px;top:10px;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.5);
}
#menu .item,
#menu .menubutton
{
	display:block;
	background-color:white;
	line-height:50px;
	cursor:pointer;
	box-sizing:border-box;
}

#menu .item
{
	display:none;
	border-top:1px solid #e0e0e0;
	background-image:url("icons/unchecked.svg");
	background-repeat:no-repeat;
	background-position:5px center;
	padding-left:50px;
	padding-right:5px;
	width:240px;
}

#menu .menubutton
{

	background-image:url("icons/menu.svg");
	background-repeat:no-repeat;
	background-position:5px center;
	padding-left:50px;
	width:0px;
}

input:checked + .item
{
	background-image:url("icons/checked.svg")!important;
}
input:checked + .menubutton
{
	width:240px!important;
	background-image:url("icons/close.svg")!important;
}

#menucheck:checked ~ .item
{
	display:block!important;
}

.menu
{
position:absolute; left:10px;bottom:10px;
}
.menu2
{
position:absolute; right:10px;bottom:10px;
}

#menu input,
.menu input
{
	display:none;
}

.mapbutton
{
display:inline-block;
background-color:white;
line-height:50px;
padding-left:5px;
padding-right:5px;
cursor:pointer;
box-shadow:0px 0px 10px 2px rgba(0,0,0,0.5);
margin-right:10px;
}


.mapbutton.link
{
padding-left:0px!important;
padding-right:0px!important;
}

.mapbutton.link a
{
display:inline-block;
padding-left:5px;
padding-right:5px;
}